[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".sublime_packages/CoffeeScript.tmbundle"]
	path = .sublime_packages/CoffeeScript.tmbundle
	url = git://github.com/jashkenas/coffee-script-tmbundle
[submodule ".sublime_packages/Ruby-Slim.tmbundle"]
	path = .sublime_packages/Ruby-Slim.tmbundle
	url = git://github.com/fredwu/ruby-slim-tmbundle.git
[submodule ".sublime_packages/Ruby-Saas-Alternative-Syntax.tmbundle"]
	path = .sublime_packages/Ruby-Saas-Alternative-Syntax.tmbundle
	url = git://github.com/fluxsaas/sass-textmate-bundle.git
[submodule ".sublime_packages/textmate-solarized"]
	path = .sublime_packages/textmate-solarized
	url = git://github.com/jasonwebster/textmate-solarized.git
[submodule ".sublime_packages/ColorHighlighter"]
	path = .sublime_packages/ColorHighlighter
	url = git://github.com/Monnoroch/ColorHighlighter.git

