[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".sublime_packages/CoffeeScript.tmbundle"]
	path = .sublime_packages/CoffeeScript.tmbundle
	url = git://github.com/jashkenas/coffee-script-tmbundle
[submodule ".sublime_packages/Sass-Alternative-Syntax.tmbundle"]
	path = .sublime_packages/Sass-Alternative-Syntax.tmbundle
	url = git://github.com/fluxsaas/sass-textmate-bundle.git
[submodule ".sublime_packages/Slim.tmbundle"]
	path = .sublime_packages/Slim.tmbundle
	url = git://github.com/fredwu/ruby-slim-tmbundle.git
